body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div#background {
    background-image: url('../Images/wood.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    transform: scale(3.5);
}

canvas#background-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    image-rendering: pixelated;
    border: solid 1.5px #343434;
    box-shadow: 0 0 0 2px #6b6b6b;
}

canvas#player-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    image-rendering: pixelated;
}

canvas#dark-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    image-rendering: pixelated;
}

.hide {
    display: none;
}